[Unit]
Description=SharedSigil server
After=network.target

[Service]
WorkingDirectory=/usr/share/sigil/
type=simple
Restart=no
User=daemon
ExecStartPre=mkdir -p /tmp/sigils
ExecStart=/usr/share/sigil/server -port 10987 -dir /tmp/sigils

[Install]
WantedBy=multi-user.target